name: push

on:
  push:
    branches: [ main ]

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18

      - name: Test backend
        run: cd formulagraphql && go test -v ./...

  build-publish:
    runs-on: ubuntu-latest
    needs: [ unit-test ]
    steps:
      # checkout code
      - uses: actions/checkout@v2
      # build model, build binary
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18

      # docker login and push
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push (formulagraphql)
        uses: docker/build-push-action@v2
        with:
          context: ./formulagraphql
          push: true
          tags: ghcr.io/alexanderjophus/formulagraphql:latest
          file: formulagraphql/Dockerfile

      - name: Build and push (web)
        uses: docker/build-push-action@v2
        with:
          context: ./web
          push: true
          tags: ghcr.io/alexanderjophus/web:latest
          file: web/Dockerfile

  deploy-okteto:
    needs: [ build-publish ]
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@master

    - uses: okteto/context@latest
      with:
        token: ${{ secrets.OKTETO_TOKEN }}

    - name: "Activate Namespace"
      uses: okteto/namespace@latest
      with:
        name: alexanderjophus

    - name: "Trigger the pipeline"
      uses: okteto/pipeline@latest
      with:
        name: main
        timeout: 8m

  e2e-test:
    needs: [ deploy-okteto ]
    defaults:
      run:
        working-directory: e2e
    env:
      BASE_URL: https://webapp-alexanderjophus.cloud.okteto.net
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.18
    - name: Run tests
      run: go run test.go # should be replaced with a proper test framework

  destroy-okteto:
    needs: [ e2e-test ]
    runs-on: ubuntu-latest
    steps:
    - uses: okteto/context@latest
      with:
        token: ${{ secrets.OKTETO_TOKEN }}

    - name: "Activate Namespace"
      uses: okteto/namespace@latest
      with:
        name: alexanderjophus

    - name: "Destroy the pipeline"
      uses: okteto/destroy-pipeline@latest
      with:
        name: main
